{%extends 'all-photos/base.html'%}
{% block content %} 
{{ block.super}}

<div class="container">


 

  <div class="row">
    {% for photo in photos %}
    <div class=" col-md-4">
       
      <img id="myImg" src="{{ photo.article_image.url }}" alt="{{ photo.image_name }}" style="width:100%;max-width:300px">


    </div>

  </div>


    {% empty %}
      <div class="row">
        <h2 class="text-center">There are no Photos to display</h2>
      </div>
      

    {% endfor %}
  



</div>

{% endblock %}