<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-default navbar-fixed-top" id="photopp" style="background-color: #875053; color: #C6AC8F; font-weight: bold; margin-bottom: 40px;">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'all_photos' %}" style=" color: #fff">Photo-Opp</a>
            </div>
            <!-- <div id="navbar" class="navbar-collapse collapse"> -->
              <ul class="nav navbar-nav">
                <li class="active" style=" color: #875053"><a href="{% url 'all_photos' %}">Home</a></li>
                <!-- <li><a href="#about" style=" color: #fff">Locations</a></li> -->
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style=" color: #fff">Locations<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'location' 'Asia' %}">Asia</a></li>
                    <li><a href="{% url 'location' 'Germany' %}">Germany</a></li>
                    <li><a href="{% url 'location' 'London' %}">London</a></li>
                    <li><a href="{% url 'location' 'Kenya' %}">Kenya</a></li>
                    <li><a href="{% url 'location' 'Maldives' %}">Maldives</a></li>
                    <li><a href="{% url 'location' 'South_America' %}">South America</a></li>
                    <li><a href="{% url 'location' 'Unspecified' %}">Unspecified</a></li>
                  </ul>
                </li>

              </ul>
          <!-- Adding a search form  -->
          <div class="col-sm-4 col-md-4 navbar-right">
    
            <form class="navbar-form" role="search" action="{% url 'search_results' %}">
    
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Category e.g Nature, Travel... " name="image">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
    
            </form>
          </div>
          <!-- search form end -->
            <!-- </div>/.nav-collapse -->
          </div>
        </nav>

</body>
</html>