{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images %}
      <h2>Found {{ image|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 articles for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if images %}
    {% for image in images %}
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <h1>{{photo.name}}</h1>
    </div>
     <!-- Modal -->
    <div class="modal fade" id="{{image.id}}" role="dialog">
      <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{image.name}}</h4>
        </div>
        <div class="modal-body">
            <img src="{{image.image_url.url}}" class="img-responsive"  alt="Image" style="width:1000px; height:300px; padding-left: 20px;padding-right:25px;"><br>
            <p><strong>description</strong> <p> {{image.description}}</p><br>
            <br>
            <p><strong>location</strong></p> <p>{{image.location}}</p><br>
            <br>
            <p><strong>Category</strong></p> <p>{{image.category}}</p><br>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>  
        </div>
      </div>
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}